.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
}

.navbar__logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.navbar__links {
  display: inline-flex;
  color: #fff;
  
}

.navbar__link {
  color: #fff;
  margin: 0 1rem;
}

.navbar__cart {
  
  width: 75px;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.navbar__cart:hover,
.navbar__link:hover {
  opacity: 0.75;
}

.cart__title {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-color);
}

.cart__image {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.cart__counter {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
